<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>iSahre</title>
    <link rel="stylesheet" href="/site_media/css/global.css" type="text/css" charset="utf-8" />
	<script type='text/javascript' src='/site_media/js/jquery-1.5.min.js'></script>
	<script type='text/javascript' src='/site_media/js/sammy/sammy.js'></script>

</head>
<body>
    <div class="top_bar">
        <h1>Share Stuff</h1>
        {{ user.first_name }} {{ user.last_name }} <a href="{% url logout %}">Logout</a>
    </div>
    <div class="main_content">
    {% block main_content %}
    {% endblock %}
    </div>
</body>
</html>
