{% extends "core/base.html" %}
{% block main_content %}
<div class="my_items">
    <h2>My Items</h2>
    {% for item in my_items %}
    <p>{{item}} - {% include "core/subs/item_status.html" %}</p>
    <blockquote>
        {% for history in item.history_set.all %}
        <p>{{history}}
        {% endfor %}
    </blockquote>
    {% endfor %}
</div>

<div class="friend_items">
    <h2>Friend Items</h2>
    {% for item in friend_items %}
    <p>{{item}} - {{item.owner}} - {% include "core/subs/item_status.html" %}</p>
    {% endfor %}
</div>
{% endblock %}