{% extends "base.html" %}
{% block main_content %}
<div class="my_items">
    <h2>My Items</h2>
    {% for item in my_items %}
    <p><a href="{% url item_detail item.id %}">{{item}}</a> - {% include "core/subs/item_status.html" %}</p>
    <blockquote>
        {% include "core/subs/history_list.html" %}
    </blockquote>
    {% endfor %}
</div>

<div class="friend_items">
    <h2>Friend Items</h2>
    {% for item in friend_items %}
    <p><a href="{% url item_detail item.id %}">{{item}}</a> - {{item.owner}} - {% include "core/subs/item_status.html" %}</p>
    {% endfor %}
</div>
{% endblock %}